<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- BOOTSTRAPS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/vacunatorio/style.css">
</head>
<body class="posicionindex">
    <div class="container">
        <div>
            <h1>MENU DE INTERACCIÓN</h1><br>
            <div class="menu">
                <button type="button" class="btn btn-warning btn-lg"><a href="/add/">INGRESAR PACIENTE</a></button><br><br>
                <button type="button" class="btn btn-warning btn-lg"><a href="/search/">BUSCAR PACIENTE</a></button><br><br>
                <button type="button" class="btn btn-warning btn-lg"><a href="/listaction/">LISTADO DE PACIENTES INGRESADOS</a></button><br><br>
            </div>
        </div>
    </div>
    <!-- BOOTSTRAPS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</body>
</html>